In [1]:
import geopandas as gpd
import pandas as pd
from utils import gdf_operations, functions

2025-01-22 15:30:19.617 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [2]:
distrito =gdf_operations.get_dados('distrito')
subbac = gdf_operations.get_dados('subbac')
subpref = gdf_operations.get_dados('subpref')
fcu = gdf_operations.get_dados('fcu')

In [3]:
unidades_list = [
    ("Sub Bacias Hidrográficas", "Lorem ipsum dolor sit amet...", 'subbac', 'nm_bacia_h'),
    ("Subprefeituras", "Lorem ipsum dolor sit amet...", 'subpref', 'nm_subpref'),
    ("Distritos", "Lorem ipsum dolor sit amet...", 'distrito', 'nm_distrit'),
    ("Favelas e Comunidades Urbanas", "Lorem ipsum dolor sit amet...", 'fcu', 'nm_fcu')
    
]
unidades_df = pd.DataFrame(unidades_list, columns=['name', 'desc', 'gdf_name', 'column_name'])

Vou começar pelo fcu para ver se dá certo.

# FCU

In [4]:
fcu_sorted = gdf_operations.create_gdf_sorted(
    fcu, 'fcu'
)

D:\Documentos_Novo\ADPPSP\2024\Saneamento básico\PMSB\hydra\streamlit-pmsb\utils\gdf_operations.py:69: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  gdf_sorted[column] = gdf[column]

In [5]:
fcu_sorted.head(1)

,cd_fcu,nm_fcu,pop_fcu,dom_fcu,con_fcu,geometry
0,35503080069,Jardim Miliunas,1159,411,162260,"POLYGON ((359999.294 7400461.018, 359969.451 7..."

In [6]:
fcu.head(1)

,cd_fcu,nm_fcu,cd_uf,nm_uf,sigla_uf,cd_mun,nm_mun,pop_fcu,dom_fcu,densidade,con_fcu,geometry
0,35503080069,Jardim Miliunas,35,São Paulo,SP,3550308,São Paulo,1159,411,450.759395,162260,"POLYGON ((359999.294 7400461.018, 359969.451 7..."

In [7]:
choice_unidade = 'fcu'
gdf_unidade = fcu_sorted
name_column_unidade = functions.find_gdf_info(unidades_df, choice_unidade, 'gdf_name', 'column_name')

In [8]:
overlay_gdf = gdf_operations.overlay_intersec(distrito, 'distrito', gdf_unidade, 'cd_fcu')

D:\Documentos_Novo\ADPPSP\2024\Saneamento básico\PMSB\hydra\streamlit-pmsb\utils\gdf_operations.py:58: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  gdf_sorted['geometry'] = gdf['geometry']

# Distritos

Agora vamos tentar com os distritos

In [10]:
distrito_sorted = gdf_operations.create_gdf_sorted(
    distrito, 'distrito'
)

D:\Documentos_Novo\ADPPSP\2024\Saneamento básico\PMSB\hydra\streamlit-pmsb\utils\gdf_operations.py:69: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  gdf_sorted[column] = gdf[column]

In [11]:
choice_unidade = 'distrito'
gdf_unidade = distrito_sorted
name_column_unidade = functions.find_gdf_info(unidades_df, choice_unidade, 'gdf_name', 'column_name')

In [14]:
overlay_gdf = gdf_operations.overlay_intersec(
    subpref, 'subpref', gdf_unidade, 'cd_distrit')

D:\Documentos_Novo\ADPPSP\2024\Saneamento básico\PMSB\hydra\streamlit-pmsb\utils\gdf_operations.py:58: FutureWarning: You are adding a column named 'geometry' to a GeoDataFrame constructed without an active geometry column. Currently, this automatically sets the active geometry column to 'geometry' but in the future that will no longer happen. Instead, either provide geometry to the GeoDataFrame constructor (GeoDataFrame(... geometry=GeoSeries()) or use `set_geometry('geometry')` to explicitly set the active geometry column.
  gdf_sorted['geometry'] = gdf['geometry']

In [15]:
overlay_gdf

,cd_distrit,nm_distrit,pop_total,dom_total,consumo_di,cd_subpref,nm_subpref,geometry,area
0,52,MARSILAC,11405,6119,1596700,20,PARELHEIROS,"POLYGON ((336121.755 7355299.158, 336107.97 73...",208184713.727543
1,55,PARELHEIROS,153562,62062,21498680,20,PARELHEIROS,"POLYGON ((333595.228 7361936.961, 333766.658 7...",152607453.643086
2,30,GRAJAU,385209,154330,53929260,19,CAPELA DO SOCORRO,"POLYGON ((331635.932 7374342.25, 331754.933 73...",92698236.319519
3,81,TREMEMBE,198125,78694,27737500,06,JACANA-TREMEMBE,"POLYGON ((337033.929 7403903.379, 337031.523 7...",57504464.806707
4,43,JARDIM ANGELA,311251,125567,43575140,18,M BOI MIRIM,"POLYGON ((319417.128 7371722.536, 319397.39 73...",37412066.903619
...,...,...,...,...,...,...,...,...,...
91,10,BRAS,38815,19791,5434100,25,MOOCA,"POLYGON ((334127.291 7396387.406, 334128.007 7...",3629272.892182
92,56,PARI,17416,6337,2438240,25,MOOCA,"POLYGON ((335929.926 7397632.843, 335930.248 7...",2729595.612532
93,7,BELA VISTA,59698,40784,8357720,09,SE,"POLYGON ((332499.529 7392062.937, 332486.701 7...",2717748.692488
94,66,REPUBLICA,62371,43854,8731940,09,SE,"POLYGON ((331969.348 7395856.287, 331971.258 7...",2396737.57804
95,78,SE,23969,13965,3355660,09,SE,"POLYGON ((333279.273 7396207.307, 333286.592 7...",2193567.8324